<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leekari.dao.MenuDao">

    <resultMap type="com.leekari.entity.Menu" id="BaseResultMap">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <id property="pid" column="parent_menu_id" jdbcType="VARCHAR"/>
        <result property="menuKey" column="menu_key" jdbcType="VARCHAR"/>
        <result property="menuName" column="menu_name" jdbcType="VARCHAR"/>
        <result property="menuLevel" column="menu_level" jdbcType="INTEGER"/>
        <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
        <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="is_deleted" jdbcType="INTEGER"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="order" column="order" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="baseColumn">
        id,parent_menu_id,menu_key,menu_name,menu_level,create_user,update_user,create_time,update_time,is_deleted,icon,`order`
    </sql>

    <select id="getAllMenu" resultMap="BaseResultMap" >
        select <include refid="baseColumn"></include>
        from menu
        where is_deleted = 0
        order by `order` asc
    </select>

</mapper>